langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
huggingface_hub
faiss_cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
python-libmagic
python-magic-bin
libmagic
pytube
numexpr
gradio